@model IEnumerable<Projet.Models.Albums>


@foreach (var item in Model)
{
    <div data-AlbumId=@item.Id align="center" class="cover">
        <a href="/Albums/Infos/@item.Id">
            <img src="~/Covers/@item.Cover" />
        </a>
    </div>
}