body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cover {
    width : 30%;
    display : inline-block;
    padding : 10px;
}

.cover img {
    width : 100% !important;
}

.infos div{
     padding:10px; 
     width:30%;
     text-align:center;
     display:block;
     /*margin-left: 35%;*/
}

#infos.cover {
    display:inline-block;
}

.description {
    display:inline-block !important;
    text-align:left !important;
}

.infos img {
    width:100%;
}

